# Системные файлы
.DS_Store
Thumbs.db

# Файлы плагина (опционально, если хотите, чтобы пользователи скачивали оригинал)
cadesplugin_api.js

# Локальные файлы настроек вашего редактора (VS Code, WebStorm)
.vscode/
.idea/

# Тестовые файлы и подписи
*.sig
*.p7s